<h1>Booking History</h1>
<div></div>
<h2>See all bookings</h2>


<div *ngIf="allBookings !== null && allBookings !==undefined && allBookings.length > 0">
  <div class="tablecontainer">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Booking Number</th>
          <th>Checkin Date</th>
          <th>Checkout Date</th>
          <th>Room Number</th>
          <th>Booking Aktiv</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of allBookings">
          <td><span>{{booking.bookingNo}}</span></td>
          <td><span>{{booking.checkindate}}</span></td>
          <td><span>{{booking.checkoutdate}}</span></td>
          <td><span>{{booking.roomNo}}</span></td>
          <td><span>{{booking.bookingActive}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="allBookings === null || allBookings ===undefined || allBookings.length === 0">
  <p>There are no bookings</p>
</div>
