<h1>Book rooms</h1>
<div></div>
<h2>See all booked rooms</h2>


<div *ngIf="rooms !== null && rooms !==undefined && rooms.length > 0">
  <div class="tablecontainer">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Room No</th>
          <th>Descriprion</th>
          <th>Price</th>
          <th>Capacity</th>
          <th>Single Beds</th>
          <th>Double Beds</th>
          <th>Balcony</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms">
          <td><span>{{room.nr}}</span></td>
          <td><span>{{room.type}}</span></td>
          <td><span>{{room.price}}</span></td>
          <td><span>{{room.capacity}}</span></td>
          <td><span>{{room.size}}</span></td>
          <td><span>{{room.noOfSingleBeds}}</span></td>
          <td><span>{{room.balcony}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="rooms === null || rooms ===undefined || rooms.length === 0">
  <p>No rooms are booked</p>
</div>
